:root {
  --accent-color: #1eebcd;
  --accent-text-color: #020e0c;
  --current-color: #ff001b;
  --primary-text-color: #ffffff;
  --background-color: #020e0c;
  --time: 250ms;
  --function-animate: cubic-bezier(0.4, 0, 0.2, 1);
}
