<section class="faq">
  <div class="container">
    <p class="faq__title">FAQ</p>
    <p class="faq__text">
      Here you can find answers to frequently asked questions. Well, or ask your
      question
    </p>
    <button class="faq__btn btn" type="button">Documentation</button>
    <ul class="faq__list list">
      <li class="faq__item">
        <a class="more"
          ><svg width="40" height="40" class="more__icon">
            <use href="/src/images/symbol-defs.svg#icon-btn-read-more"></use>
          </svg>
          <p class="faq__item-text">
            When will I start to benefit from your company
          </p></a
        >
        <p class="active visually-hidden">
          This is probably the best place in my work experience) If you are
          lucky enough to get into the Name team, you will understand everything
          yourself. Excellent attitude of the HR department full support and
          adaptation in the first days of work. Coffee tea, cookies soda,
          delicious lunches. No problems with payment, everything is transparent
          and clear
        </p>
      </li>
      <li class="faq__item">
        <a class="more more-2"
          ><svg width="40" height="40" class="more__icon more__icon-2">
            <use href="/src/images/symbol-defs.svg#icon-btn-read-more"></use>
          </svg>
          <p class="faq__item-text">How much will it cost?</p></a
        >
        <p class="active active-2 visually-hidden">
          This is probably the best place in my work experience) If you are
          lucky enough to get into the Name team, you will understand everything
          yourself. Excellent attitude of the HR department full support and
          adaptation in the first days of work. Coffee tea, cookies soda,
          delicious lunches. No problems with payment, everything is transparent
          and clear
        </p>
      </li>
      <li class="faq__item">
        <a class="more more-3" data-more
          ><svg width="40" height="40" class="more__icon more__icon-3">
            <use href="/src/images/symbol-defs.svg#icon-btn-read-more"></use>
          </svg>
          <p class="faq__item-text">
            Here you can find answers to frequently asked questions.
            Well, or ask your question
          </p></a
        >
        <p class="active active-3 visually-hidden">
          This is probably the best place in my work experience) If you are
          lucky enough to get into the Name team, you will understand everything
          yourself. Excellent attitude of the HR department full support and
          adaptation in the first days of work. Coffee tea, cookies soda,
          delicious lunches. No problems with payment, everything is transparent
          and clear
        </p>
      </li>
      <li class="faq__item">
        <a class="more more-4"
          ><svg width="40" height="40" class="more__icon more__icon-4">
            <use href="/src/images/symbol-defs.svg#icon-btn-read-more"></use>
          </svg>
          <p class="faq__item-text">
            When will I start to benefit from your company
          </p></a
        >
        <p class="active active-4 visually-hidden">
          This is probably the best place in my work experience) If you are
          lucky enough to get into the Name team, you will understand everything
          yourself. Excellent attitude of the HR department full support and
          adaptation in the first days of work. Coffee tea, cookies soda,
          delicious lunches. No problems with payment, everything is transparent
          and clear
        </p>
      </li>
      <li class="faq__item">
        <a class="more more-5"
          ><svg width="40" height="40" class="more__icon more__icon-5">
            <use href="/src/images/symbol-defs.svg#icon-btn-read-more"></use>
          </svg>
          <p class="faq__item-text">How much will it cost?</p></a
        >
        <p class="active active-5 visually-hidden">
          This is probably the best place in my work experience) If you are
          lucky enough to get into the Name team, you will understand everything
          yourself. Excellent attitude of the HR department full support and
          adaptation in the first days of work. Coffee tea, cookies soda,
          delicious lunches. No problems with payment, everything is transparent
          and clear
        </p>
      </li>
    </ul>
  </div>
</section>
