<section class="features">
  <div class="container">
    <h2 class="features__title">Features</h2>
    <ul class="features__list list">
      <li class="features__item">
        <img src="/src/images/features-1.png" alt="features" />
        <h3 class="features__item-title">
          Give points for a product, or groups created by taxonomies
        </h3>
        <p class="features__text">
          You can fully manage the amount of bonuses accrued for the purchase
          of both individual products and groups. Groups are products united
          by common taxonomies (Categories, tags, attributes, price, brands)
          that you can create and customize in an unlimited number.
        </p>
        <p class="features__desc">
          Or
          <a href="/index" class="features__link">try the free version</a>
        </p>
      </li>
      <li class="features__item">
        <img src="/src/images/features-2.png" alt="features" />
        <h3 class="features__item-title">
          Easy-to-manage control of user points balance
        </h3>
        <p class="features__text">
          The plugin allows you to conveniently track, accrue and control the
          balance of bonus points both for each individual user and in bulk
          according to a certain user attribute. At the same time, for each
          accrual / write-off, you can specify a reason, send a newsletter,
          and much more.
        </p>
      </li>
      <li class="features__item">
        <img src="/src/images/features-3.png" alt="features" />
        <h3 class="features__item-title">Auto actions for accruing bonuses</h3>
        <p class="features__text">
          In this section, you can create and configure automatic points accrual
          companies based on a trigger or conditions, followed by user
          notification via email or popup. Set up auto bonuses for registration,
          birthday, users of a certain age, amount of purchases, time since
          registration, users who abandoned the cart, users who left a review
          and many other triggers and conditions.
        </p>
      </li>
    </ul>
  </div>
</section>
