<footer class="footer">
  <div class="container">
    <p class="logo__title logo__title__footer">
      <span class="logo__title-green">Up</span>Sells
    </p>
    <ul class="footer__list list">
      <li class="footer__item">
        <a href="" class="footer__link link">Plugins</a>
      </li>
      <li class="footer__item">
        <a href="" class="footer__link link">Documentation</a>
      </li>
      <li class="footer__item">
        <a href="" class="footer__link link">Support</a>
      </li>
    </ul>
    <ul class="footer__contact-list list">
      <li class="footer__cotact-item">
        <a href="tel:+380961111111" class="footer__tel link"
          >+38-96-14-44-756</a
        >
      </li>
      <li class="footer__cotact-item">
        <a href="mailto:asda@gmail.com" class="footer__email link"
          >asda@gmail.com</a
        >
      </li>
    </ul>
  </div>
</footer>
