<section class="hero">
  <div class="container container__hero">
    <div class="container__bonus-point">
      <h1 class="hero__title">Woocommerce Bonus Point</h1>
      <p class="hero__text">
        The plugin provides a thoughtful and fully customizable bonus system for
        your online store. This is the real magic in the fight to attract and
        retain customers and the desire to shop in your online store again and
        again.
      </p>
      <button class="hero__btn" type="button">Choose Your Plan</button>
      <p class="hero__desc">
        Or
        <a href="/index" class="hero__link">try the free version</a>
      </p>
    </div>
    <img class="hero__img" src="/src/images/hero-img.png" alt="Корзина" />
  </div>
</section>
