<section class="month__working">
  <div class="container">
    <h2 class="month__working-title">After a month of working with us</h2>
    <div class="month__working-user-container">
      <svg
        width="60"
        height="60"
        viewBox="0 0 80 80"
        fill="none"
        xmlns="http://www.w3.org/2000/svg"
      >
        <circle cx="40" cy="40" r="40" fill="#C4C4C4" />
      </svg>
      <div class="month__working-user-name-container">
        <p class="month__working-user-name">Meta</p>
        <p class="month__working-user-position">In a month</p>
      </div>
      <svg width="40" height="40" class="month__working-left">
        <use href="/src/images/symbol-defs.svg#icon-month-working-left"></use>
      </svg>
      <svg width="40" height="40">
        <use href="/src/images/symbol-defs.svg#icon-month-working-right"></use>
      </svg>
    </div>
    <div class="month__working-container-all">
      <div class="month__working-before-container">
        <p class="month__working-before-title">Before</p>
        <ul class="month__working-before-list list">
          <li class="month__working-before-item">
            <p class="month__working-before-item-title">Regular customers</p>
            <p class="month__working-before-price">12</p>
          </li>
          <li class="month__working-before-item">
            <p class="month__working-before-item-title">Profit</p>
            <p
              class="month__working-before-price month__working-before-price-2"
            >
              -$24
            </p>
          </li>
          <li class="month__working-before-item">
            <p class="month__working-before-item-title">
              The cost of discounts
            </p>
            <p
              class="month__working-before-price month__working-before-price-3"
            >
              -$24
            </p>
          </li>
        </ul>
      </div>
      <div class="month__working-after-container">
        <p class="month__working-after-title">After</p>
        <ul class="month__working-after-list list">
          <li class="month__working-after-item">
            <p class="month__working-after-price month__working-after-price-1">
              37
            </p>
          </li>
          <li class="month__working-after-item">
            <p class="month__working-after-price month__working-after-price-2">
              -$2400
            </p>
          </li>
          <li class="month__working-after-item">
            <p class="month__working-after-price month__working-after-price-3">
              -$2400
            </p>
          </li>
        </ul>
      </div>
    </div>
    <p class="month__working-desc">
      Meta. The largest company that owns the most popular social networks
    </p>
    <p class="month__working-text">
      This is probably the best place in my work experience) If you are lucky
      enough to get into the Name team, you will understand everything yourself.
      Excellent attitude of the HR department full support and adaptation in the
      first days of work. Coffee tea, cookies soda, delicious lunches.
      No problems with payment, everything is transparent and clear
    </p>
  </div>
</section>
