<section class="plans">
  <div class="container">
    <h2 class="plans__title">Pro vs Free</h2>
    <div class="plans__container">
      <div class="plans__pro">
        <p class="plans__pro-title">Pro plan</p>
        <p class="plans__pro-price">$199</p>
        <button class="plans__pro-btn" type="button">Get started</button>
      </div>
      <div class="plans__free">
        <p class="plans__free-title">Free plan</p>
        <p class="plans__free-price">$0</p>
        <button class="plans__free-btn" type="button">Get started</button>
      </div>
    </div>
    <div class="score__container">
      <ul class="score__list list">
        <li class="score__item">
          <p class="score__title">Score widget shortcode</p>
          <div class="score__points-container">
            <p class="score__points-pro score__points">
              <svg class="score__points-icon" width="24" height="24">
                <use
                  href="/src/images/symbol-defs.svg#icon-score__points"
                ></use></svg
              >Yes
            </p>
            <p class="score__points-free score__points">
              <svg class="score__points-icon" width="24" height="24">
                <use
                  href="/src/images/symbol-defs.svg#icon-score__points"
                ></use>
              </svg>
              Yes
            </p>
          </div>
        </li>
        <li class="score__item">
          <p class="score__title">Entering points for products</p>
          <div class="score__points-container">
            <p class="score__points-pro score__points-fix">
              <svg class="score__points-icon" width="24" height="24">
                <use
                  href="/src/images/symbol-defs.svg#icon-score__points"
                ></use></svg
              >In % or $
            </p>
            <p class="score__points-free score__points-fix">
              <svg class="score__points-icon" width="24" height="24">
                <use
                  href="/src/images/symbol-defs.svg#icon-score__points"
                ></use>
              </svg>
              In % or $
            </p>
          </div>
        </li>
        <li class="score__item">
          <p class="score__title">Managing product points</p>
          <div class="score__points-container">
            <p class="score__points-pro score__points">
              <svg class="score__points-icon" width="24" height="24">
                <use
                  href="/src/images/symbol-defs.svg#icon-score__points"
                ></use></svg
              >Yes
            </p>
            <p class="score__points-free score__points">
              <svg class="score__points-icon" width="24" height="24">
                <use
                  href="/src/images/symbol-defs.svg#icon-score__points"
                ></use>
              </svg>
              Yes
            </p>
          </div>
        </li>
        <li class="score__item">
          <p class="score__title">Entering points for products</p>
          <div class="score__points-container">
            <p class="score__points-pro score__points">
              <svg class="score__points-icon" width="24" height="24">
                <use
                  href="/src/images/symbol-defs.svg#icon-score__points"
                ></use></svg
              >Yes
            </p>
            <p class="score__points-free score__points">
              <svg class="score__points-icon" width="24" height="24">
                <use
                  href="/src/images/symbol-defs.svg#icon-score__points-free"
                ></use>
              </svg>
              No
            </p>
          </div>
        </li>
        <li class="score__item">
          <p class="score__title">Creating and managing product points</p>
          <div class="score__points-container">
            <p class="score__points-pro score__points">
              <svg class="score__points-icon" width="24" height="24">
                <use
                  href="/src/images/symbol-defs.svg#icon-score__points"
                ></use></svg
              >Yes
            </p>
            <p class="score__points-free score__points">
              <svg class="score__points-icon" width="24" height="24">
                <use
                  href="/src/images/symbol-defs.svg#icon-score__points-free"
                ></use>
              </svg>
              No
            </p>
          </div>
        </li>
        <li class="score__item">
          <p class="score__title">Group Priority Setting</p>
          <div class="score__points-container">
            <p class="score__points-pro score__points">
              <svg class="score__points-icon" width="24" height="24">
                <use
                  href="/src/images/symbol-defs.svg#icon-score__points"
                ></use></svg
              >Yes
            </p>
            <p class="score__points-free score__points">
              <svg class="score__points-icon" width="24" height="24">
                <use
                  href="/src/images/symbol-defs.svg#icon-score__points-free"
                ></use>
              </svg>
              No
            </p>
          </div>
        </li>
      </ul>
    </div>
  </div>
</section>
