<section class="plugin">
  <div class="container">
    <h2 class="plugin__title">Your shop needs BP plugin</h2>
    <ul class="plugin__list list">
      <li class="plugin__item">
        <div class="plugin__box"></div>
        <div class="plugin__item-container">
          <h3 class="plugin__item-title">
            Increase in the number of regular customers
          </h3>
          <p class="plugin__item-text">
            Studies show that people are more likely to choose a store in which
            they “accumulate” points on a bonus card than a similar one without
            them.
          </p>
        </div>
      </li>
      <li class="plugin__item">
        <div class="plugin__box"></div>
        <div class="plugin__item-container">
          <h3 class="plugin__item-title">Possibility of communication</h3>
          <p class="plugin__item-text">
            Studies show that people are more likely to choose a store in which
            they “accumulate” points on a bonus card than a similar one without
            them.
          </p>
        </div>
      </li>
      <li class="plugin__item">
        <div class="plugin__box"></div>
        <div class="plugin__item-container">
          <h3 class="plugin__item-title">"Inducement" to make a purchase</h3>
          <p class="plugin__item-text">
            Consumers are attracted precisely by the “game of bonuses” - they are
            happy to make purchases again, accumulate points in order to receive
            the desired gift or product for free on the cherished day.
          </p>
        </div>
      </li>
      <li class="plugin__item">
        <div class="plugin__box"></div>
        <div class="plugin__item-container">
          <h3 class="plugin__item-title">Helps to coordinate work</h3>
          <p class="plugin__item-text">
            In accordance with the interests of potential and loyal customers,
            adjust the product line, use various methods of attraction. There is a
            convenient opportunity to "anticipate" the desires of consumers,
            "luring" them with interesting offers.
          </p>
        </div>
      </li>
      <li class="plugin__item">
        <div class="plugin__box"></div>
        <div class="plugin__item-container">
          <h3 class="plugin__item-title">Competitive advantage</h3>
          <p class="plugin__item-text">
            The introduction of a bonus program is exactly what will help you get
            more customers and "poach" them from your competitors. Today,
            competition in the retail industry is serious, every retailer strives
            to make the buyer want to come back again and again.
          </p>
        </div>
      </li>
      <li class="plugin__item">
        <div class="plugin__box"></div>
        <div class="plugin__item-container">
          <h3 class="plugin__item-title">
            All regular and desired customers will be taken into account
          </h3>
          <p class="plugin__item-text">
            Buyers can be grouped, give them different products, different number
            of bonuses. So, those who have not made a purchase for a long time
            will be offered some bonuses, and those who “bought the most” -
            others, those who have a birthday; sign up bonus etc.
          </p>
        </div>
      </li>
    </ul>
  </div>
</section>