<section class="pricing">
  <div class="container">
    <h2 class="pricing__title">Pricing</h2>
    <div class="container__year">
      <p class="pricing__desc">
        Yearly<svg
          class="pricing__desc-icon"
          width="44"
          height="44"
          viewBox="0 0 44 44"
          fill="none"
          xmlns="http://www.w3.org/2000/svg"
        >
          <circle cx="22" cy="22" r="22" fill="#0E2E29" />
          <circle cx="22" cy="22" r="16" fill="#020E0C" />
        </svg>
      </p>
      <p class="pricing__desc">
        Annual
        <svg
          class="pricing__desc-icon"
          width="44"
          height="44"
          viewBox="0 0 44 44"
          fill="none"
          xmlns="http://www.w3.org/2000/svg"
        >
          <circle cx="22" cy="22" r="22" fill="#0E2E29" />
          <circle cx="22" cy="22" r="16" fill="#1EEBCD" />
        </svg>
      </p>
    </div>
    <ul class="pricing__list list">
      <li class="pricing__card pricing__card-unlimited">
        <div class="container__pricing-difference">
          <p class="pricing__cart-title pricing__cart-title-unlimited">
            Unlimited
          </p>
          <p class="pricing__price pricing__price-unlimited">$599</p>
          <p class="pricing__difference pricing__difference-unlimited">
            Five site
          </p>
          <p class="pricing__difference pricing__difference-unlimited">
            Lifetime Updates
          </p>
          <p class="pricing__difference pricing__difference-unlimited">
            Lifetime Support
          </p>
          <button
            type="button"
            class="pricing__btn-buy pricing__btn-buy-unlimited"
          >
            Buy now
          </button>
          <button
            type="button"
            class="pricing__btn-free pricing__btn-free-unlimited"
          >
            Free version
          </button>
        </div>
      </li>
      <li class="pricing__card">
        <div class="container__pricing-difference">
          <p class="pricing__cart-title">Five Sites</p>
          <p class="pricing__price">$249</p>
          <p class="pricing__difference">Unlimited site</p>
          <p class="pricing__difference">Lifetime Updates</p>
          <p class="pricing__difference">Lifetime Support</p>
          <button type="button" class="pricing__btn-buy">Buy now</button>
          <button type="button" class="pricing__btn-free">Free version</button>
        </div>
      </li>
      <li class="pricing__card">
        <div class="container__pricing-difference">
          <p class="pricing__cart-title">Two Sites</p>
          <p class="pricing__price">$200</p>
          <p class="pricing__difference">Two site</p>
          <p class="pricing__difference">Lifetime Updates</p>
          <p class="pricing__difference">Lifetime Support</p>
          <button type="button" class="pricing__btn-buy">Buy now</button>
          <button type="button" class="pricing__btn-free">Free version</button>
        </div>
      </li>
      <li class="pricing__card">
        <div class="container__pricing-difference">
          <p class="pricing__cart-title">One Site</p>
          <p class="pricing__price">$149</p>
          <p class="pricing__difference">Single site</p>
          <p class="pricing__difference">Lifetime Updates</p>
          <p class="pricing__difference">Lifetime Support</p>
          <button type="button" class="pricing__btn-buy">Buy now</button>
          <button type="button" class="pricing__btn-free">Free version</button>
        </div>
      </li>
    </ul>
  </div>
</section>
