<section class="rating">
  <div class="container">
    <ul class="rating__list list">
      <li class="rating__item">
        <p class="rating__number">90%+</p>
        <p class="rating__desc">Websites increased sales</p>
      </li>
      <li class="rating__item">
        <p class="rating__number">240%+</p>
        <p class="rating__desc">Increase in repeat customers</p>
      </li>
      <li class="rating__item">
        <p class="rating__number">150+</p>
        <p class="rating__desc">Five stars review</p>
      </li>
      <li class="rating__item">
        <p class="rating__number">100+</p>
        <p class="rating__desc">Support and blog articles</p>
      </li>
    </ul>
    <div class="green__box"></div>
  </div>
</section>
