<section class="repeat">
  <div class="container">
    <h2 class="repeat__title">Encourage repeat purchase</h2>
    <img class="repeat__img" src="/src/images/repeat-1.png" alt="repeat" />
    <ul class="repeat__list list">
      <li class="repeat__item">
        <img src="/src/images/repeat-2.png" alt="repeat" />
        <h3 class="repeat__item-title">It works very simply:</h3>
        <p class="repeat__item-text">
          For each purchase you make, you credit the buyer’s account with
          a certain number of Bonus Points
        </p>
      </li>
      <li class="repeat__item">
        <img src="/src/images/repeat-3.png" alt="repeat" />
        <h3 class="repeat__item-title">Convenience and benefit for everyone</h3>
        <p class="repeat__item-text">
          The client can spend the accumulated Bonus points in the same way
          as real ones — they can pay for the % of the purchase you specified
        </p>
      </li>
      <li class="repeat__item">
        <img src="/src/images/repeat-4.png" alt="repeat" />
        <h3 class="repeat__item-title">The buyer is 90% likely to return</h3>
        <p class="repeat__item-text">
          Thus, each purchase partially pays for the next one, and if you
          implement it in your store, then the buyer is 90% likely to return to
          make a repeat purchase!
        </p>
      </li>
    </ul>
    <button class="repeat__btn btn" type="button">Choose Your Plan</button>
  </div>
</section>
