<section class="reviews">
  <div class="container"> 
    <h2 class="reviews__title">Reviews</h2> 
    <div class="swiper">
    <div class="swiper-wrapper">
      <div class="swiper-slide"><div class="swiper__text-container">
        <h3 class="swiper__title">
        Cool!</h3>
        <p class="swiper__text">I liked everything. And the staff, and the deposit, and cookies with coffee, and cleanliness in the premises. In the server room, you just need to put a table with a monitor in order and add another chair. Well done. I didn 't want to leave</p>
      </div>
    <div class="swiper__container-user">
        <svg width="80" height="80" viewBox="0 0 80 80" fill="none" xmlns="http://www.w3.org/2000/svg">
<circle cx="40" cy="40" r="40" fill="#C4C4C4"/>
</svg>
<div class="swiper__container-user-text"><p class="swiper__user-name">Meta</p>
<p class="swiper__user-position">General derektor</p></div>

    </div></div>
      <div class="swiper-slide"><div class="swiper__text-container">
        <h3 class="swiper__title">
        Cool!</h3>
        <p class="swiper__text">I liked everything. And the staff, and the deposit, and cookies with coffee, and cleanliness in the premises. In the server room, you just need to put a table with a monitor in order and add another chair. Well done. I didn 't want to leave</p>
      </div>
    <div class="swiper__container-user">
        <svg width="80" height="80" viewBox="0 0 80 80" fill="none" xmlns="http://www.w3.org/2000/svg">
<circle cx="40" cy="40" r="40" fill="#C4C4C4"/>
</svg>
<div class="swiper__container-user-text"><p class="swiper__user-name">Meta</p>
<p class="swiper__user-position">General derektor</p></div>

    </div></div>
      <div class="swiper-slide"><div class="swiper__text-container">
        <h3 class="swiper__title">
        Cool!</h3>
        <p class="swiper__text">I liked everything. And the staff, and the deposit, and cookies with coffee, and cleanliness in the premises. In the server room, you just need to put a table with a monitor in order and add another chair. Well done. I didn 't want to leave</p>
      </div>
    <div class="swiper__container-user">
        <svg width="80" height="80" viewBox="0 0 80 80" fill="none" xmlns="http://www.w3.org/2000/svg">
<circle cx="40" cy="40" r="40" fill="#C4C4C4"/>
</svg>
<div class="swiper__container-user-text"><p class="swiper__user-name">Meta</p>
<p class="swiper__user-position">General derektor</p></div>

    </div></div>

    </div>
    <!-- Add Scrollbar -->
    <div class="swiper-scrollbar"
     ><div class="swiper-scrollbar-drag "></div></div>
</div>
</section>
