.header {
  background: #0e2e29;
  padding: 20px 0px;
  @media screen and (min-width: $tablet) {
    backdrop-filter: blur(20px);
  }

  &__btn-container {
    @media screen and (min-width: $tablet) {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      flex-direction: column;
    }
  }

  @include desktop {
    background: #020e0c;
  }
}
.container__header {
  padding: 0px;
}

// desktop nav

.nav {
  @include mobile {
    display: flex;
  }
  @include desktop {
    display: flex;
    align-items: center;
    border-radius: 0px 0px 0px 10px;
    border: 3px solid #befff6;
    background: rgba(2, 14, 12, 0.01);
    backdrop-filter: blur(20px);
  }

  &__list {
    display: flex;
    gap: 60px;

    @include mobile {
      display: none;
    }

    &-item {
      &__link {
        color: white;
        font-family: Raleway;
        font-size: 24px;
        font-style: normal;
        font-weight: 400;
        line-height: 1.5;
      }
    }
  }
}

.nav-btn {
  display: none;
  @include desktop {
    display: flex;
    flex-direction: row;
    width: 100%;
  }
}

.logo__title {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 400;
  font-size: 36px;
  line-height: 42px;
  color: var(--primary-text-color);

  @include desktop {
    margin-left: 60px;
  }
}

.logo__title-green {
  font-family: "Raleway";
  font-style: italic;
  font-weight: 900;
  color: var(--accent-color);
}
.menu-icon {
  margin-left: 100px;
  background-color: inherit;
  border: none;
  @media screen and (min-width: $tablet) {
    display: none;
  }
}
.header__nav-container {
  position: fixed;
  top: 0;
  right: -100%;
  width: 100%;
  height: 100%;
  background: rgba(2, 14, 12, 0.61);
  backdrop-filter: blur(25px);
  z-index: 10;
  padding: 0 0 0 0;
  transition: right 0.3s ease 0s;
  // display: none;
  overflow-y: hidden;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  @media screen and (min-width: $desktop) {
    display: none;
  }
}
.header__nav-container._active {
  right: 0;
}
.menu-close {
  position: absolute;
  top: 23px;
  right: 20px;
  border: none;
  background: transparent;
  @media screen and (min-width: $tablet) {
    display: none;
  }
}
.header__nav-list {
  display: flex;
  flex-direction: column;
  // padding-top: 270px;
  margin-left: auto;
  gap: 30px;
  margin-bottom: 150px;
  text-align: right;
}
.header__nav-link {
  font-weight: 400;
  font-size: 24px;
  line-height: 1.5;
  color: var(--primary-text-color);
  padding-right: 20px;
}
.header__btn-login {
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.5;
  color: var(--primary-text-color);
  background: transparent;
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-bottom: 40px;
  @media screen and (min-width: $tablet) {
    padding: 30px 60px;
  }
}
.header__btn-login-icon {
  margin-left: 10px;
}
.header__btn-join {
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.5;
  // left: calc(50% - 320px / 2);
  // top: calc(50% - 85px / 2 + 326.5px);
  padding: 30px 120px;
  background: #ffffff;
  color: var(--accent-text-color);
  border: none;
  @media screen and (min-width: $tablet) {
    padding: 30px 60px;
  }
}
.no-scroll {
  overflow-y: hidden;
}
