.hero {
  padding-top: 80px;
  // padding-bottom: 90px;
  background: url('/src/images/hero-background.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: left;
}
.container__hero {
  padding: 0px;
}
.container__bonus-point {
  padding: 20px;
  background: rgba(2, 14, 12, 0.01);
  backdrop-filter: blur(20px);
  margin-bottom: 80px;
  //   border-width: 3px;
  //   border-style: outset;
  //   border-color: linear-gradient(#befff6 100%, #020e0c 100%);
}
.hero__title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.5;

  margin-bottom: 30px;
}
.hero__text {
  font-weight: 400;
  font-size: 18px;
  line-height: 1.5;
  margin-bottom: 30px;
}
.hero__btn {
  margin-bottom: 30px;
}
.hero__desc {
  font-weight: 400;
  font-size: 18px;
  line-height: 1.5;
}
.hero__link {
  color: var(--accent-color);
  font-weight: 700;
}
