.swiper {
  width: 100%;
  height: 470px;
}
.swiper-wrapper {
  gap: 10px;
}
.swiper-scrollbar {
  background: #0e2e29 !important;
  border-radius: 0px !important;
  opacity: 1 !important;
}
.swiper-scrollbar-drag {
  background: var(--accent-color) !important;
  border-radius: 0px !important;
}
.swiper-slide {
  font-size: 18px;
  background: inherit;
}
.reviews {
  padding: 60px 0px;
}
.reviews__title {
  font-weight: 700;
  font-size: 32px;
  line-height: 1.5;
  margin-bottom: 50px;
}
.swiper__text-container {
  background: #0e2e29;
  border-radius: 10px;
  padding: 20px;
  margin-bottom: 30px;
}
.swiper__title {
  font-weight: 700;
  font-size: 24px;
  line-height: 1.5;
  text-align: left;
}
.swiper__text {
  font-weight: 400;
  font-size: 18px;
  line-height: 1.5;
  text-align: left;
}
.swiper__container-user {
  display: flex;
  align-items: flex-start;
}
.swiper__user-name {
  font-weight: 700;
  font-size: 18px;
  line-height: 1.5;
  text-align: left;
  margin-bottom: 10px;
}
.swiper__user-position {
  font-weight: 400;
  font-size: 18px;
  line-height: 1.5;
}
.swiper__container-user-text {
  margin-left: 20px;
}
